.site-header{
  max-width:1100px;
  margin:20px auto;
  padding:16px 26px;
  display:flex;
  align-items:center;
  justify-content:space-between;

  background:var(--glass);
  border:1px solid var(--border);
  backdrop-filter:blur(18px);
  border-radius:24px;
}

.logo{
  font-weight:800;
  font-size:1.2rem;
  color:var(--primary);
}

.nav-links{
  display:flex;
  gap:20px;
}

.nav-links a{
  color:var(--text);
  text-decoration:none;
  font-weight:600;
  position:relative;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;
  height:3px;
  background:var(--primary);
  transition:.3s;
  border-radius:3px;
}

.nav-links a:hover::after{
  width:100%;
}

.nav-actions{
  display:flex;
  gap:10px;
  align-items:center;
}

.cv-btn{
  padding:6px 16px;
  border-radius:14px;
  background:linear-gradient(135deg,var(--primary),var(--secondary));
  color:white;
  text-decoration:none;
  font-weight:600;
}

.hamburger{
  display:none;
  background:none;
  border:none;
  font-size:1.5rem;
  cursor:pointer;
  color:var(--text);
}

@media(max-width:800px){
  .nav-links{
    position:absolute;
    top:95px;
    left:50%;
    transform:translateX(-50%);
    flex-direction:column;
    background:var(--glass);
    padding:24px 32px;
    border-radius:22px;
    display:none;
    z-index: 5;
  }

  .nav-links.show{display:flex;
    position: absolute;
    background-color: black;
  }
  .hamburger{display:block}
}
